<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="m0609_rg2_camera">
  <!-- M0609 URDF include -->
  <xacro:include filename="$(find dsr_description2)/urdf/m0609.urdf"/>
  <!-- RG2 macro include -->
  <xacro:include filename="$(find m0609_rg2_bringup)/urdf/onrobot_rg2_model_macro.xacro"/>
  <!-- RealSense 브라켓 + 카메라 include -->
  <xacro:include filename="$(find m0609_rg2_bringup)/urdf/realsense_bracket.urdf.xacro"/>

  <!-- RG2 그리퍼를 tool0에 부착 -->
  <xacro:onrobot_rg2 prefix="rg2_" effector_base="tool0" has_bracket="true"/>
</robot>
