<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="m0609_rg2_camera">
  <!-- M0609 URDF include -->
  <xacro:include filename="$(find dsr_description2)/urdf/m0609.urdf"/>
  <!-- RG2 macro include -->
  <xacro:include filename="$(find m0609_rg2_bringup)/urdf/onrobot_rg2_model_macro.xacro"/>
  <!-- RealSense 브라켓 + 카메라 include -->
  <xacro:include filename="$(find m0609_rg2_bringup)/urdf/realsense_bracket.urdf.xacro"/>

  <!-- RG2 그리퍼를 tool0에 부착 -->
  <xacro:onrobot_rg2 prefix="rg2_" effector_base="tool0" has_bracket="true"/>

  <!-- 테이블 정의 (x: 1200mm, y: 650mm, z: 250mm) -->
  <link name="table">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.65 0.25"/>
      </geometry>
      <material name="table_material">
        <color rgba="0.6 0.6 0.6 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="1.2 0.65 0.25"/>
      </geometry>
    </collision>
  </link>

  <!-- base_link에 테이블 고정 (로봇은 x=280mm에 위치, y는 중앙) -->
  <joint name="base_to_table" type="fixed">
    <parent link="base_link"/>
    <child link="table"/>
    <origin xyz="0.32 0 -0.125" rpy="0 0 0"/>
  </joint>

  <!-- 컨베이어 벨트 정의 (X: 1200mm, Y: 120mm, Z: 80mm) -->
  <link name="conveyor_belt">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://m0609_rg2_bringup/meshes/conveyor_belt.stl"/>
      </geometry>
      <material name="conveyor_material">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://m0609_rg2_bringup/meshes/conveyor_belt.stl"/>
      </geometry>
    </collision>
  </link>

  <!-- 테이블의 -Y 모서리 상면(+Z방향, 테이블 위)에 컨베이어 벨트 고정 -->
  <joint name="table_to_conveyor" type="fixed">
    <parent link="table"/>
    <child link="conveyor_belt"/>
    <origin xyz="0 -0.265 0.165" rpy="0 0 0"/>
  </joint>

</robot>
